.filter_item{
    margin: 5px;
    padding: 7px 10px;
    border: 1px solid var(--header-border);
    color:rgb(156, 156, 156);
    border-radius: 0.8rem;
    font-size: 1rem;
    text-align: center;
    
   
    
}

.hover_effect :hover{
    /* background-color: rgb(250, 227, 227); */
    background-color: #f4f4f4;
}
.filter_name{
    margin: auto 4px;
    margin-left: 10px;
    font-weight: 500;
    

}