.max-width{
    margin: 0 auto;
    max-width: 1100px;
}

.abs-cen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cur-po{
    cursor: pointer;
}

.collection-title{
    font-size: 1.5em;
    font-weight: 500;
}

.slick-next:before, .slick-prev:before {
   font-size: 40px;
    color: #bebbc3;
}
